body{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style:normal;
    background-color: #8280EB;
    color:#03023E;
    justify-content: space-between;
    height: 100vh;
}

header, footer{
    font-size: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
}
header{
    color: #8280EB;
}
footer{
    background-color: #323258;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    align-items: center;
}
footer *{
    color: #8280EB;
}
header{
    background-color: #272599;
}
.chess-field{
    padding: 20px;
    background-color: #000;
}
.a::before{
    color: white;
    position: absolute;
    left: -14px;
    margin-top: 35px;
}

.row1::after{
    color: white;
    position: absolute;
    bottom: -18px;
    margin-left: -45px;
}

#a1::before{
content: "1";
}
#a2::before{
content: "2";
}
#a3::before{
content: "3";
}
#a4::before{
content: "4";
}
#a5::before{
content: "5";
}
#a6::before{
content: "6";
}
#a7::before{
content: "7";
}
#a8::before{
content: "8";
}

#a1::after{
    content: "a";
}
#b1::after{
    content: "b";
}
#c1::after{
    content: "c";
}
#d1::after{
    content: "d";
}
#e1::after{
    content: "e";
}
#f1::after{
    content: "f";
}
#g1::after{
    content: "g";
}
#h1::after{
    content: "h";
}

.сhessboard{
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border: #272599 1px;
    background-color: #8280EB;
    position: relative;
}
.сhessboard-square{
    width: 12.5%;
    height: 12.5%;
}
.black-square{
    background-color: #03023E;
}
.white-square{
    background-color: #BAB9EB;
}

.maincontent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: green;
    right: 10px;
    top:10px; 
}

@keyframes selectSquare {
    /* 100%{background-color: #B0DBE7;}     */
    100%{background-color: #B875E9;}    
    /* 100%{opacity: 0.75;} */
}
.can-select-square:hover{
    animation-name: selectSquare;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    cursor: pointer;

}
.selected-square{
    background-color: #B875E9;
}
.can-move-square{
    /* background-color: rgba(184,117,233,0.5); */
    opacity: 0.25;
    cursor: pointer;
}
.can-cut-square{
    background-color: #5F1893;
    cursor: pointer;
}
/* https://colorscheme.ru/#40122ssrrRpOc */