body{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style:normal;
    background-color: #8280EB;
    color:#03023E;
    justify-content: space-between;
    height: 100vh;
}
header, footer{
    font-size: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
}
header{
    color: #8280EB;
}
footer{
    background-color: #323258;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    align-items: center;
}
footer *{
    color: #8280EB;
}
header{
    background-color: #272599;
}
.сhessboard{
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border: #272599 1px;
    background-color: #8280EB;
}
.сhessboard-square{
    width: 12.5%;
    height: 12.5%;
}
.black-square{
    background-color: #03023E;
}
.white-square{
    background-color: #BAB9EB;
}

@keyframes selectSquare {
    /* 100%{background-color: #B0DBE7;}     */
    100%{background-color: #B875E9;}    
    /* 100%{opacity: 0.75;} */
}
.сhessboard-square:hover{
    animation-name: selectSquare;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}
.maincontent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
    pointer-events: none;
}
.sidebar{
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: green;
    right: 10px;
    top:10px; 
}
/* https://colorscheme.ru/#40122ssrrRpOc */